<ion-header>
  <ion-navbar>
    <ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  
  <img src="assets/img/Pi672XjRcuQYSxGVYuWF_petshop.jpg" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
  <form id="inicio-form5">
    <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel" type="text" debounce="500" placeholder="Pesquisar" (ionChange)="getItems($event)"></ion-searchbar>
    <ion-list *ngIf="isItemAvailable">
      <ion-item *ngFor="let item of items" on-click="itemClick($event)">{{ item }}</ion-item>
    </ion-list>
  </form>
  <ion-card id="inicio-card" style="width: 93%;">
    <div class="spacer" style="width:300px;height:30px;" id="cadastrar-spacer4"></div>
    <div id="inicio-heading10" style="color:#000000;text-align: center;font-size: large;font-style: unset;">
      Produtos
    </div>
    <div class="spacer" style="width:300px;height:30px;" id="cadastrar-spacer4"></div>
    <ion-list>
      <div id="carrinho-container1" style="overflow-y: auto;height: 200px;">
        <ion-list id="carrinho-list1" *ngFor="let prod of listInicio; let i=index" style="height: min-content;">
          <ion-item-sliding>
            <ion-item color="none" on-click="goToProduto($event)" id="{{prod.id}}" >
              <ion-avatar item-left>
                <img src={{prod.image}}/>
              </ion-avatar>
              <h2>
                {{prod.name}}
              </h2>
            </ion-item>
            <ion-item-options side="left">
              <button ion-button color="light"></button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </ion-list>
  </ion-card>
  <ion-card id="inicio-card">
    <div class="spacer" style="width:300px;height:30px;" id="cadastrar-spacer4"></div>
    <ion-list>
      <div id="inicio-heading10" style="color:#000000;text-align: center;font-size: large;font-style: unset;">
        Sobre nós
      </div>
      <div class="spacer" style="width:300px;height:30px;" id="cadastrar-spacer4"></div>
      <div id="inicio-markdown21" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          {{sobre}}
        </p>
      </div>
      <img src="assets/img/jKWqyoBEQrarD9AgcljT_loja.jpg" />
    </ion-list>
  </ion-card>
  <ion-card id="inicio-card">
    <ion-list>
      <div class="spacer" style="width:300px;height:30px;" id="cadastrar-spacer4"></div>
      <div id="inicio-heading10" style="color:#000000;text-align: center;font-size: large;font-style: unset;">
        Localização
      </div>
    <div class="spacer" style="width:300px;height:30px;" id="cadastrar-spacer4"></div>
      <div id="inicio-markdown20" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          Contamos com diversos filiados em diversas regiões do País, ache a mais perto de você.
        </p>
        <ul *ngFor="let loc of listLoc; let i=index">
          <li>
            {{loc}}
          </li>
        </ul>
      </div>
      <div class="spacer" style="width:300px;height:31px;" id="inicio-spacer25"></div>
      <img src="assets/img/ZCVg3vLTaqHMJsV4IIRV_maps.jpg" onclick="this.onMapClick"/>
      <div class="spacer" style="width:300px;height:42px;" id="inicio-spacer26"></div>
    </ion-list>
  </ion-card>
  <div class="spacer" style="height:100px;" id="inicio-spacer28"></div>
  <div class="spacer" style="height:100px;" id="inicio-spacer27"></div>
</ion-content>